<%= form_with url: search_path, method: :get do |f| %>
  <%= f.text_field :word %>
  <%= f.select :search, ["perfect", "forward", "backward", "partial"] %>
  <%= f.submit "Search"%>
<% end %>

<h1>User List</h1>

<% @users.each do |user| %>
<p>
  <%= link_to user.name, user_path(user) %>
</p>
<% end %>

<p>
  <%= link_to "New user", new_user_path %>
</p>