<div class="row">
  <%= form_with url: search_path, method: :get do |f| %>
    <div class="col" >
      <label>keyword: </label>
      <%= f.text_field :word %>
    </div>
    <div class="col">
      <label>search pattern: </label>
      <%= f.select :search, ["perfect", "forward", "backward", "partial"] %>
    </div>
    <div class="col">
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>

<h1>User List</h1>

<% @users.each do |user| %>
  <p>
    <%= link_to user.name, user_path(user) %>
  </p>
<% end %>

<p>
  <%= link_to "New user", new_user_path %>
</p>