<div class="container">
  <%= form_with url: search_path, method: :get do |f| %>
    <div class="mb-1">
      <label>keyword: </label>
    </div>
    <div class="mb-3">
      <%= f.text_field :word %>
    </div>

    <div class="mb-1">
      <label>search pattern: </label>
    </div>
    <div class="mb-4">
      <%= f.select :search, ["perfect", "forward", "backward", "partial"] %>
    </div>

    <div>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h1>User List</h1>

<% @users.each do |user| %>
  <p>
    <%= link_to user.name, user_path(user) %>
  </p>
<% end %>

<p>
  <%= link_to "New user", new_user_path %>
</p>